.list-item {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  width: 260px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.left-part {
  display: flex;
  align-items: center;
}

.initial-container {
  width: 40px;
  height: 40px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.initial {
  font-family: Roboto;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.color1 {
  background-color: #f59e0b;
}

.color2 {
  background-color: #10b981;
}

.color3 {
  background-color: #f97316;
}

.color4 {
  background-color: #14b8a6;
}

.color5 {
  background-color: #b91c1c;
}

.detail {
  font-family: Roboto;
  font-size: 10px;
  color: #ffffff;
}

.delete-button {
  border: none;
  background-color: transparent;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.stars-icon {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}
